<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Changed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h2>Password Changed Successfully</h2>
    <p>Dear <span th:text="${name}">User</span>,</p>
    <p>This email confirms that your CERPAC account password was recently changed.</p>
    <p>If you made this change, no further action is required.</p>
    <p>If you did not change your password, please contact our support team immediately.</p>
    <p>Best regards,<br/>The CERPAC Team</p>
</body>
</html>
